## UFO SIGTING DATASET

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
ufo_data = pd.read_csv('./Dataset/scrubbed.csv', low_memory=False)

In [3]:
ufo_data.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [4]:
ufo_data.dtypes

datetime                 object
city                     object
state                    object
country                  object
shape                    object
duration (seconds)       object
duration (hours/min)     object
comments                 object
date posted              object
latitude                 object
longitude               float64
dtype: object

In [8]:
print(ufo_data['country'].value_counts())

us    65114
ca     3000
gb     1905
au      538
de      105
Name: country, dtype: int64

In [9]:
print(ufo_data['state'][ufo_data['country']=='us'].value_counts())

ca    8912
wa    3966
fl    3835
tx    3447
ny    2980
il    2499
az    2414
pa    2366
oh    2275
mi    1836
or    1747
nc    1740
mo    1458
co    1413
in    1288
va    1273
ma    1256
nj    1255
ga    1255
wi    1232
tn    1119
mn    1012
sc    1003
ct     892
ky     855
md     837
nv     803
ok     724
nm     720
ia     678
al     642
ut     622
ks     613
ar     588
me     558
la     558
id     521
nh     486
mt     478
wv     448
ne     381
ms     375
ak     319
hi     262
vt     260
ri     228
sd     183
wy     175
de     166
nd     129
pr      25
dc       7
Name: state, dtype: int64

In [10]:
print(ufo_data.columns)

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)',
       'duration (hours/min)', 'comments', 'date posted', 'latitude',
       'longitude '],
      dtype='object')

In [6]:
print(max(ufo_data['date posted']))

9/9/2013

In [7]:
ufo_data_sorted = ufo_data.sort_values(by='date posted',ascending = False)

In [8]:
ufo_data_sorted.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
79247,9/4/2013 05:55,bradshaw,ne,us,diamond,10,10 seconds,Low flying&#44 very large diamond shaped flash...,9/9/2013,40.8838889,-97.746667
79473,9/5/2013 22:20,boston,ny,us,oval,2,2 seconds,Bright light traveled quickly across sky.,9/9/2013,42.6288889,-78.737778
79475,9/5/2013 23:00,belgium,NaN,NaN,circle,6,6 seconds,Huge bright light in belgium moving over city ...,9/9/2013,50.503887,4.469936
79476,9/5/2013 23:00,springfield,ma,us,changing,300,5 minutes,It wasn&#39t a plane&#44 planes don&#39t hover...,9/9/2013,42.1013889,-72.590278
79477,9/5/2013 23:30,surfside beach,sc,us,disk,300,4-5 minutes,2 orange orbs seen in the night sky.,9/9/2013,33.6058333,-78.973333

In [9]:
from datetime import datetime

In [10]:
ufo_data_sorted['date posted'] = pd.to_datetime(ufo_data_sorted['date posted'])

In [11]:
ufo_data_sorted.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
79247,9/4/2013 05:55,bradshaw,ne,us,diamond,10,10 seconds,Low flying&#44 very large diamond shaped flash...,2013-09-09,40.8838889,-97.746667
79473,9/5/2013 22:20,boston,ny,us,oval,2,2 seconds,Bright light traveled quickly across sky.,2013-09-09,42.6288889,-78.737778
79475,9/5/2013 23:00,belgium,NaN,NaN,circle,6,6 seconds,Huge bright light in belgium moving over city ...,2013-09-09,50.503887,4.469936
79476,9/5/2013 23:00,springfield,ma,us,changing,300,5 minutes,It wasn&#39t a plane&#44 planes don&#39t hover...,2013-09-09,42.1013889,-72.590278
79477,9/5/2013 23:30,surfside beach,sc,us,disk,300,4-5 minutes,2 orange orbs seen in the night sky.,2013-09-09,33.6058333,-78.973333

In [12]:
pip install geopandas

Collecting geopandas
  Downloading geopandas-0.8.1-py2.py3-none-any.whl (962 kB)
Collecting fionaNote: you may need to restart the kernel to use updated packages.

    ERROR: Command errored out with exit status 1:
     command: 'C:\Users\Aashna\anaconda3\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\Aashna\\AppData\\Local\\Temp\\pip-install-rx0f3poq\\fiona\\setup.py'"'"'; __file__='"'"'C:\\Users\\Aashna\\AppData\\Local\\Temp\\pip-install-rx0f3poq\\fiona\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base 'C:\Users\Aashna\AppData\Local\Temp\pip-pip-egg-info-0t948jxq'
         cwd: C:\Users\Aashna\AppData\Local\Temp\pip-install-rx0f3poq\fiona\
    Complete output (1 lines):
    A GDAL API version must be specified. Provide a path to gdal-config using a GDAL_CONFIG environment variable or use a GDAL_VERSION environment variable.
    ----------------------------------------
ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.

  Downloading Fiona-1.8.17.tar.gz (1.3 MB)